<!-- 홈 페이지 및 기타 페이지의 Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- head 태그 -->
{% include head.html %}
</head>
<body>
<!-- 페이지 본문 -->
{{ content }}

<!-- wow.js 애니메이션 효과 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 5,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 페이지 새로고침 맨 위로 -->
<script>
    window.onbeforeunload = function(){
        //페이지 새로고침 맨 위로
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>

</body>
</html>
