<!-- 홈 페이지 및 기타 페이지의 Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- head 태그 -->
{% include head.html %}
{% include androidColor.html %}
</head>
<body>

<!-- 탑 앵커 -->
<a id="htmlup" name="htmlup"></a>
<!-- 블로그 게시물 상단 옵션 소개 -->
{% include post-header.html %}
<!-- 모바일 드롭다운 옵션 도입 -->
{% include boot.html %}
<!-- 블로그 포스트 탑 스타일 소개 -->
{% include post-title.html %}
<div class="markdown-body fadeInUp animated">

  {% if page.subtitle %}
    {% if page.color.size==0 or page.color==nil %}
      <div class="postpage-subtitle" style="border-left: 8px solid #9A85FF; border-right: 8px solid #9A85FF;">
        {{ page.subtitle }}
      </div>
    {% else %}
      <div class="postpage-subtitle" style="border-left: 8px solid {{ page.color }}; border-right: 8px solid {{ page.color }}">
        {{ page.subtitle }}
      </div>
    {% endif %}
  {% endif %}

  <!-- 기사 내용 -->
  {{ page.content }}
  <!-- share 모듈 -->
  {% include share.html %}
</div>

<!-- 하단 앵커 -->
<a id="htmldown" name="htmldown"></a>
<!-- 댓글 모듈 도입 -->
{% include comment.html %}
<!-- goto 모듈 소개 -->
{% include goto.html %}
<!-- 페이지 하단 모듈 소개 -->
{% include footer.html %}

<!-- wow.js 애니메이션 효과 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 600,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 페이지 새로고침 맨 위로 -->
<script>
    window.onbeforeunload = function(){
        //페이지 새로고침 맨 위로
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>
<script src="/assets/js/main.js"></script>
</body>
</html>
